<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0" x-intersect="$el.classList.add('fadeInRight')">
            <img class="object-cover object-center rounded" alt="hero" src="themes\alternatekno\assets\images\office.jpg">
        </div>
        <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-left text-left">
            <h1 class="underline decoration-[6px] decoration-[#FFA91C] underline-offset-[23px] sm:text-4xl text-2xl font-bold title-font text-left text-gray-900 mb-[100px]" x-intersect="$el.classList.add('fadeInUp')">Siapa Kami?</h1>
            <div class="map-container" x-intersect="$el.classList.add('fadeInUp')">
                <div class="inner-basic division-details" style="text-align: left;">
                    <p>Didirikan pada tahun 2022, PT. Alterna Teknologi Kreatifindo hadir untuk memberikan solusi di bidang teknologi informasi dengan bidang Teknologi Informasi yang di kuasai khususnya di bidang software development, IT Consultant dan Network Integrator. PT. Alterna Teknologi Kreatifindo dapat memberikan inovasi terhadap kebutuhan peningkatan kualitas teknologi informasi di perusahaan Anda.</p>
                </div>
            </div>
        </div> 
    </div>
</section>

<section class="text-gray-600 body-font bg-[#303133]">
    <div class="container mx-auto flex px-5 py-5 md:flex-row flex-col items-center">
        <div class="flex-grow sm:pr-4">
            <h1 class="text-4xl font-bold title-font text-white mb-4" x-intersect="$el.classList.add('fadeInRight')">Ingin perusahaan anda berkembang?</h1>
            <p class="text-white" x-intersect="$el.classList.add('fadeInRight')">Kami telah bekerja dengan beberapa institusi negara dan menetapkan target agar dapat mencapai target yang klien inginkan</p>
            <div class="flex items-center" x-intersect="$el.classList.add('fadeInRight')">
                <img src="themes\alternatekno\assets\images\clock.png" alt="Clock">
                <p class="text-white ml-4 p-4 text-xl">Pengerjaan tepat waktu</p>
                <img src="themes\alternatekno\assets\images\point.png" alt="Point" class="p-4">
                <p class="text-white ml-4 p-4 text-xl">Sesuai Target</p>
            </div>
            <div class="flex items-center mt-4" x-intersect="$el.classList.add('fadeInRight')">
                <img src="themes\alternatekno\assets\images\suitcase.png" alt="Suitcase">
                <p class="text-white ml-4 p-4 mr-[115px] text-xl">Tenaga<br> Professional</p>
                <img src="themes\alternatekno\assets\images\loop.png" alt="Loop" class="p-4">
                <p class="text-white ml-4 p-4 text-xl">Bergaransi</p>
            </div>
        </div>
        <img src="themes\alternatekno\assets\images\illustration.png" alt="Illustration" class="mt-10 sm:mt-0"  x-intersect="$el.classList.add('fadeInLeft')">
    </div>
</section>