<section class="text-gray-600 body-font text-center">
        <div class="container px-5 py-9 mx-auto">
            <h1 class="underline decoration-[6px] decoration-[#FFA91C] underline-offset-[23px]  sm:text-4xl text-2xl font-bold title-font text-gray-900 mb-20 " x-intersect="$el.classList.add('fadeInUp')">Klien Kami</h1>
        </div>

<div class="Frame10 " style="width: 100%; height: 100%; opacity: 0.89; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 41px;" x-intersect="$el.classList.add('fadeInUp')">
    <div class="Frame7" style="align-self: stretch; justify-content: center; align-items: center; gap: 133px; display: flex; flex-wrap: wrap;">
        <img class="kominfo" style="width: 103px; height: 102px" src="themes\alternatekno\assets\images\kominfo.png" />
        <img class="diknas" style="width: 109px; height: 97px" src="themes\alternatekno\assets\images\diknas.png" />
        <img class="sdppi" style="width: 281px; height: 87px" src="themes\alternatekno\assets\images\sdppi.png" />
        <img class="pupr" style="width: 97px; height: 97px" src="themes\alternatekno\assets\images\pupr.png" />
    </div>
    <div class="Frame8" style="align-self: stretch; justify-content: center; align-items: center; gap: 72px; display: flex; flex-wrap: wrap;" x-intersect="$el.classList.add('fadeInUp')">
        <img class="Jamkrida" style="width: 237px; height: 62px" src="themes\alternatekno\assets\images\jamkrida.png" />
        <img class="amani" style="width: 165px; height: 165px" src="themes\alternatekno\assets\images\amani.png" />
    </div>
</div>