{% if this.page.id == 'tentang' %}
<section class="text-gray-600 body-font bg-white">
{% else %}
<section class="text-gray-600 body-font bg-[#FFA91C]">
{% endif %}
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
      {% if this.page.id == 'tentang' %}
      <h1 class="flex-grow sm:pr-16 text-4xl font-bold title-font" style="color: #3F4B59;">Ingin perusahaan anda berkembang?</h1>
      <button class="flex-shrink-0 text-white border-0 py-2 px-8 focus:outline-none hover:bg-gray-200 rounded text-lg mt-10 sm:mt-0" style="background-color: #FFA91C;">Hubungi kami sekarang</button>
      {% else %}
      <h1 class="flex-grow sm:pr-16 text-4xl font-bold title-font text-white">Ingin perusahaan anda berkembang?</h1>
      <button class="flex-shrink-0 text-black bg-white border-0 py-2 px-8 focus:outline-none hover:bg-gray-200 rounded text-lg mt-10 sm:mt-0">Hubungi kami sekarang</button>
      {% endif %}
    </div>
  </div>
</section>

<footer class="text-white body-font bg-[#303133]">
  <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col ">
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-white pl-5">
        <span class="ml-3 text-xl">PT. Alterna Teknologi Kreatifindo </span>
      </a>
      <p class="mt-2 text-sm text-white pl-5">Kami perusahaan pilihan terbaik bagi
        perkembangan bisnis Anda yang
        berperan terhadap disrupsi industri 4.0
        yang sarat dengan transformasi digital.</p>
    </div>
    <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <nav class="list-none mb-10">
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">Fitur kami</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-white hover:text-gray-600">Home</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-600">tentang kami</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-600">Layanan</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-600">Karir</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-600">Kontak kami</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">Hubungi Kami</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-white ">Jalan Terusan Jakarta Nomor 175 , Antapani</a>
          </li>
          <li>
            <a class="text-white ">Kontak +62 812-2226-2718
              Email: alterna.kreatifindo@gmail.com</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">Layanan</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-white hover:text-gray-600">Software Development</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-600">IT Consultant</a>
          </li>
          <li>
            <a class="text-white hover:text-gray-600">Network Integrator</a>
          </li>          
        </nav>
      </div>
    </div>
  </div>
</footer>

<footer class="bg-[#303133]">
  <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
    <p class="text-white text-sm text-center sm:text-left">© 2024 Alternatekno
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
      <a class="text-white">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
        </svg>
      </a>
      <a class="ml-3 text-white">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
        </svg>
      </a>
      <a class="ml-3 text-white">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
      </a>
      <a class="ml-3 text-white">
        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
          <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
    </span>
  </div>
</footer>
